@import '../../styles/variables';

.FavoriteItem {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);

  &Image {
    background: $pink;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    img {
      width: 200px;
    }
  }

  &Info {
    padding: 10px 15px;

    span {
      font-weight: 600;
      font-size: 18px;
    }

    p {
      font-size: 18px;
      margin-bottom: 10px;
      height: 44px;
    }
  }
}