@import '../../styles/variables';

.Cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  ul {
    width: 90%;
    margin: 0 auto;
    flex-grow: 1;
  }

  &Total {
    width: 90%;
    margin: 0 auto;
    background-color: $white-pink;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin-bottom: 15px;
      font-weight: 500;

      @media (max-width: 860px) {
        display: flex;
        flex-direction: column;
      }

      span {
        font-weight: 700;
      }

      &:last-child {
        margin: 0;
      }
    }

      a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $green;
      border: none;
      outline: none;
      border-radius: 30px;
      color: $white;
      font-size: 18px;
      font-weight: 600;
      width: 170px;
      height: 45px;
      cursor: pointer;
      transition: opacity .2s ease-in;

      @media (max-width: 860px) {
        width: 140px;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
      }

      &:hover {
        opacity: .9;
      }
    }
  }

  &Empty {
    text-align: center;
    padding-top: 50px;

    h1 {
      font-size: 32px;
      margin-bottom: 50px;

      span {
        color: $green;
      }
    }

    img {
      height: 100px;
      width: 100px;
    }
  }
}