@import '../../styles/variables';

.Search {
  position: relative;

  input {
    padding: 10px 40px;
    width: 300px;
    border-radius: 20px;
    outline: none;
    border: 2px solid $grey;
    font-size: 18px;

    &:focus {
      border-color: $green;
    }
  }

  .Search {
    position: absolute;
    top: 10px;
    left: 10px;

    opacity: .3;
  }

  .Close {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 25px;
    height: 25px;
    cursor: pointer;

    opacity: .3;
  }
}