.Homepage {
 
  .Filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 460px) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  .Loaders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}